html {
    scroll-behavior: smooth;
    scroll-padding: 8REM;
  }

#container {
    max-width: 2000px;
    border-radius: 10px;
}

body {
    margin: 0;
    display: flex; 
    justify-content: center; 
}

header {
    color: rgb(58, 15, 15);
    @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
    font-family: 'Mooli', sans-serif;
    padding-top: 5%;
}

h2, h3 {
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
    font-family: 'Comfortaa', cursive;
}

p {
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    font-family: 'Oswald', sans-serif;

}

h3 {
    margin: 0px;
}

.logo {
    text-decoration: none;
    margin: 0px 50px 0px 0px;
    display: flex;
}

.logo:hover {
    background-color: rgb(58, 15, 15);
}

.logo img {
    height: 50px;
    margin: 0px;
}

.center {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav {
    background-color: #eb0029;
    display: flex;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 2000px;
    border-bottom: 5px solid rgb(58, 15, 15);
}

main {
    display: flex;
    flex-direction: column;
    }

.product-name img {
    width: auto;
}

.product-name {
    display: flex;
    padding: 0px 0px 0px 100px;
    gap: 300px;
    justify-content: center;
}

.product-name p {
    margin: 20px 20px;
}

header {
    margin: 0px 0px 0px 100px;
}
 .price {
    background-color: rgb(58, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 100px 50px 100px;
    border-radius: 8px;
    color: white;
 }

 .price h2 {
    margin: 20px 0px 0px 20px;
 }
main a {
    text-decoration: none;
    color: white;
    background-color: #eb0029;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 5px solid #eb0029;
    border-radius: 5px;
    margin: 20px 80px;
}

a:hover {
    background-color: white;
    color: rgb(58, 15, 15);
}

.description {
    display: flex;
    gap: 300px;
    justify-content: center;
    background-color: rgb(237, 227, 207);
}

.plus-and-minus {
    background-color: rgb(58, 15, 15);
    padding: 20px;
    border-radius: 5px;
    margin: 50px 0px;
    color: rgb(237, 227, 207);;
}

.actual-description {
    padding: 20px;
    border-radius: 5px;
    color: rgb(58, 15, 15);
    margin: 50px 0px 50px 0px;
    max-width: 500px;
}

main div {
    background-color: rgb(58, 15, 15);
    color: white;
    text-align: center;
}

.related-products {
    background-color: rgb(58, 15, 15);
    color: black;
    display: flex;
    justify-content: space-evenly;
    color: rgb(237, 227, 207);
    text-align: center;
}

.nugget-keychain, .dehydrated-water, .yodeling-pickle {
    max-width: 15%;
    color: rgb(237, 227, 207);
}

.related-products h3 {
    padding: 0px 0px 15px 0px;
}

.related-products img {
    width: 90%;
}
 footer {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: #eb0029;
    padding: 30px;

 }

 footer a {
    text-decoration: none;
    color: white;
 }

 footer a:hover {
    color: rgb(58, 15, 15);
    background-color: #eb0029;
 }
